* {
    font-size: 28px;
    background-color: black;
    color: white;
    display: block;
    
}


students {
    margin: 20px;
}


.std {
    margin-top: 20px;
    padding: 10px;
    
}


usn {
    color: rgb(200, 200, 0);
    margin-left: 10px;
    font-size: 24px;
}

/* Styling the name */
name {
    color: green;
    margin-left: 20px;
    font-size: 24px;
}

/* Styling the year of joining */
yoj {
    color: orange;
    margin-left: 20px;
    font-size: 24px;
}

/* Styling the college */
college {
    color: blue;
    margin-left: 20px;
    font-size: 20px;
}

/* Styling the branch */
branch {
    color: red;
    margin-left: 20px;
    font-size: 20px;
}

/* Styling the email */
email {
    color: violet;
    margin-left: 20px;
    font-size: 20px;
}

